<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuzishun.clearservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.personal.PersonalActivity" />
        <activity android:name=".activity.splach.SplachActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.register.RegisterActivity" />
        <activity android:name=".activity.register.CodeActivity" />
        <activity android:name=".activity.register.PassWordActivity" />
        <activity android:name=".activity.forget.PhotoActivity" />
        <activity android:name=".activity.forget.CodeeActivity" />
        <activity android:name=".activity.forget.RepeatPwActivity" />
        <activity android:name=".activity.information.InformationActivity" />
        <activity android:name=".activity.changename.changeActivity" />
        <activity android:name=".activity.myframnet_Activity.telActivity" />
        <activity android:name=".activity.myframnet_Activity.SettingActivity" />
        <activity android:name=".activity.myframnet_Activity.PersonalActivity" />
        <activity android:name=".activity.myframnet_Activity.changnameActivity" />
        <activity android:name=".tools.CountryActivity" />
        <activity android:name=".activity.myframnet_Activity.langerActivity" />
        <activity android:name=".activity.mainfragment_activity.AddtelActivity" />
        <activity android:name=".activity.mainfragment_activity.SubmissionActivity" />
        <activity
            android:name=".activity.mainfragment_activity.searchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.mainfragment_activity.DetailsActivity"></activity>
        <activity android:name=".activity.mainfragment_activity.ChoosetelActivity" />
        <activity android:name=".activity.mainfragment_activity.listActivity" />
        <activity android:name=".activity.mainfragment_activity.PayActivity" />
        <activity android:name=".activity.mainfragment_activity.PaySucessActivity" />
        <activity android:name=".activity.myframnet_Activity.ReleaseserviceActivity" />
        <activity android:name=".activity.myframnet_Activity.ReleaseActivity" />
        <activity android:name=".activity.myframnet_Activity.ServiceDeileActivity" />
        <activity android:name=".activity.changename.changepswActivity" />
        <activity android:name=".activity.register.AgreementActivity" />
        <activity android:name=".activity.myframnet_Activity.RewardonActivity" />
        <activity android:name=".activity.mainfragment_activity.MessageActivity" />
        <activity android:name=".activity.myframnet_Activity.OrtherActivity" />
        <activity android:name=".activity.myframnet_Activity.OrderdetailsActivity" />
        <activity android:name=".activity.mainfragment_activity.choosetimeActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="61d60482c42038e9426902b30b64085d" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".fragment.homepager.HomeseachActivity"></activity>
    </application>

</manifest>